version: 1.0.{build}
branches:
  only:
  - master
nuget:
  project_feed: true
before_build:
- cmd: nuget restore ./OnlineShop/OnlineShop.sln
build:
  project: ./OnlineShop/OnlineShop.sln
  publish_nuget: true
  include_nuget_references: true
  verbosity: minimal
  
services:
  - mssql2016

environment:
  COVERALLS_REPO_TOKEN:
    secure: V3nyoA0koaeHhNBYaeZ4K2RdMT25zg51y95XuzvmmHtFva5mtX3q2xZmU9zNgrpI

after_test: 
        - OnlineShop\packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user -filter:"+[*]*" -target:"OnlineShop\packages\NUnit.ConsoleRunner.3.6.1\tools\nunit3-console.exe" -targetargs:"/domain:single OnlineShop\Tests\LibsTests\OnlineShop.Libs.Data.Tests\bin\Debug\OnlineShop.Libs.Data.Tests.dll OnlineShop\Tests\LibsTests\OnlineShop.Libs.Services.Tests\bin\Debug\OnlineShop.Libs.Services.Tests.dll OnlineShop\Tests\ClientTests\OnlineShop.Clients.MVC.Tests\bin\Debug\OnlineShop.Clients.MVC.Tests.dll OnlineShop\Tests\ConfigurationTests\OnlineShop.ConfigurationProviders.Tests\bin\Debug\OnlineShop.ConfigurationProviders.Tests.dll" -output:cover.xml

        - OnlineShop\packages\coveralls.io.1.3.4\tools\coveralls.net.exe --opencover cover.xml