@model OnlineShop.Clients.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>

    <p class="text-success">@ViewBag.StatusMessage</p>
    <div>
        @if (Model.HasPassword)
        {
            @Html.ActionLink("Change your password", "ChangePassword", routeValues: new { area = "" }, htmlAttributes: new { @class = "btn" })
        }
        else
        {
            @Html.ActionLink("Create", "SetPassword")
        }

    </div>
</div>