@model OnlineShop.Clients.MVC.Models.ErrorViewModel
@{
    ViewBag.Title = "Error";
}
<div class="container">
    <h2>@Model.ErrorText</h2>
    <img src="@Model.ErrorUrl" class="responsive-img" />
</div>
