
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <h2>AdminHome</h2>

    @Html.ActionLink("AddProduct", "Add", "AdminProducts", routeValues: new { area = "Admin" }, htmlAttributes: new { @class = "btn" })
</div>
