@{
    ViewBag.Title = "Contact";
}

<div class="container">

    <h2>@ViewBag.Title.</h2>

    <address>
        <strong>Repo:</strong>
        <a href="https://github.com/StoikoNeykov/OnlineShop" target="_blank">https://github.com/StoikoNeykov/OnlineShop</a>
    </address>
</div>