@{
    ViewBag.Title = "Home Page";
}
<div class="my-carousel-container">
    @Html.Partial("_CarouselPartial")
</div>

<div class="container">
    <div class="items">

    </div>
</div>

@section scripts {
    <script>
        $(custom.infiniteScroll('.items', '/ap/products'));
    </script>
}